
@{
    ViewData["Title"] = "หน้าจองรถ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>หน้าจองรถ</h1>
<form>
    <table class="table table-borderless">
        <tr>
            <th>วันที่เดินทาง</th>
            <th>
                
            </th>
            <th>เวลา</th>
            <th></th>
        </tr>
        <tr>
            <th>วันที่กลับ</th>
            <th></th>
            <th>เวลา</th>
            <th></th>
        </tr>
        <tr>
            <th>Source</th>
            <th></th>
            <th>Target</th>
            <th></th>
        </tr>
        <tr>
            <th>Seat</th>
            <th></th>
        </tr>
        <tr>
            <th>Type</th>
            <td></td>
            <td><button></button></td>
        </tr>
    </table>
</form>

